body {
    background-color: rgba(235, 235, 235, 1);
    color: green;
    text-align: center;
    font-family: helvetica;
    margin: auto;
}

h1 {
    font-size: 4vw;
    color: rgba(0, 0, 0, 1);
    background-color: none;
    padding: 20px;
    box-shadow: none;
    text-shadow: none;
}

p {
    font-size: 2vw;
    color: rgba(0, 0, 0, 1);
    text-shadow: none;
}

.bodyimg {
    display: block;
    margin: auto;
    box-shadow: none;
    background-color: rgba(215, 215, 215, 1);
    width: 70%;
    border: 2px solid rgb(0, 0, 0);
    margin-block: 20px;
    border-radius: 5vw;
}

.headerimg {
    display: block;
    margin: auto;
    box-shadow: none;
    width: 70%;
    margin-block: 20px;
    filter: drop-shadow(4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4));
}

.footerlogo {
    display: block;
    margin: auto;
    box-shadow: none;
    width: 70%;
    margin-block: 20px;
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
}

iframe {
    display: block;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
}

a {
    color: rgb(0, 0, 0);
    font-size: 30px;
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
    margin: 0%;
}

.navlink {
    display: inline-block;
    color: rgba(235, 235, 235, 1);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
    border:2px solid rgb(0, 0, 0);
    transition: all 0.2s;
    margin-inline: 0.35vw;
    margin-block: 0.5vh;
}

.navlink:hover {
    background: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    transition: all 0.2s;
    transform: scale(1.1);

}

.navlinkimg {
    height: 25px;
}

hr {
    height:4px;
    background-color:rgb(225, 225, 225);
    border:4px solid rgb(0, 0, 0);
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
}

h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 3vw;
    font-weight: bold;
    border: none;

    background-color: none;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.pcontainer {
    padding-inline: 50px;
    padding-block: 20px;
    background-color: none;
    box-shadow: none;
    margin-bottom: 50px;
}

.columnsformat {
    display: flex;
    flex-direction: row;
}

.headernav {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: rgba(120, 0, 0, 1);
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
}

.navmenu {
    border: none;
    padding: 20px;
    background-color: none;
    box-shadow: none;
    z-index: 1;
}

.bodydiv {
    background-color: rgba(235, 235, 235, 1);
    text-align: center;
    font-family: helvetica;
    margin: auto;
    width: 85vw;
}

.transitioning {
    animation: fadein 0.75s forwards;
    transform: translateY(50vh);
}

.footernav {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: rgba(120, 0, 0, 1);
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
}

.drpdwn {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.drpdwnc {
    display: none;
    position: absolute;
    z-index: 1;
}

.drpdwn:hover .drpdwnc {display: block;}

.drpnavlink {
    display: inline-block;
    color: rgba(235, 235, 235, 1);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4.2px 8.3px 8.3px rgba(0, 0, 0, 0.4);
    border:2px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    transition: all 0.2s;
}

.drpnavlink:hover {
    background: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    transition: all 0.2s;
    transform: scale(1.1);
}

@keyframes fadein {
    from{
        transform: translateY(50vh);
    }

    to{
        transform: translateY(0vh);
    }
}